body {
    Font-family: Helvetica Neue, Helvetica, Arial;
}

header ul li{
    display: inline;
}

.left {
    float: left;
    margin-top: -50px;
}

.right {
    float: right;
    margin-top: -60px;
}

li.logo {
    font-size: 18pt;
}

li.greenText {
    color: #80AB56;
    font-size: 18pt;
}

.hotel {
    color: #B2B6B5;
    padding-right: 15px;

}

.name {
    padding-right: 15px;
}

.msgSprite, .mailSprite, .alarmSprite{
    background: url("../img/icon-header.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 33px;
    width: 37px;
}

.msgSprite {
    background-position: 0px -38px;
}

.mailSprite {
    background-position: -37px 0px;
}

.alarmSprite {
    background-position: -74px 0px;
    padding-right: 30px;
}

.leftHalf {
    width: 100%;
    background-color: #f4f3f4;
    height: 1000px;
}

.ticketBar {
    background-color: #f4f3f4;
    width: 100%;
    height: 50px;
    border-top: solid 2pt;
    border-top-color: #E1E1E1;
    border-bottom: solid 2pt;
    border-bottom-color: #E1E1E1;
    margin-top: 60px;
}

.searchbar {
    width: 50%;
    float: left;
    background-color: #FFFFFF;
    margin-left: -200px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 75px;
    padding-bottom: 20px;
}

.tasks ul{
    margin-top: 20px;
    padding-top: 10px;
}

.tasks ul li {
    list-style-type: none;
    font-size: 14pt;
    margin-top: 20px;
    border-bottom: solid 2pt;
    border-bottom-color: #F2C482;
    height: 40px;
}

.tasks {
    background-color: #f4f3f4;
    width: 50%;
}

.time {
    float: right;
    margin-top: -294px;
    padding-right: 10px;
}

#modal {
    width: 50%;
    float: right;
    margin-top: -1000px;

}
