body {
    Font-family: Helvetica Neue, Helvetica, Arial;
    background-color: #f4f3f4;
}

header {
    background-color: #FFFFFF;
}

header ul li{
    display: inline;
}

.left {
    float: left;
    margin-top: -50px;
}

.right {
    float: right;
    margin-top: -60px;
}

li.logo {
    font-size: 18pt;
}

li.greenText {
    color: #80AB56;
    font-size: 18pt;
}

.hotel {
    color: #B2B6B5;
    padding-right: 15px;

}

.name {
    padding-right: 15px;
}

.msgSprite, .mailSprite, .alarmSprite{
    background: url("../img/icon-header.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 33px;
    width: 37px;
}

.msgSprite {
    background-position: 0px -38px;
}

.mailSprite {
    background-position: -37px 0px;
}

.alarmSprite {
    background-position: -74px 0px;
    padding-right: 30px;
}

.topBar ul {
    float: right;
    margin-top: -4px;
}

.newSprite, .trashSprite, .sendSprite, .attachSprite {
    background: url("../img/icon-subnavi.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 33px;
    width: 40px;
}

.newSprite {
    background-position: -125px 0px;
}

.trashSprite {
    background-position: -165px 0px;
}

.sendSprite {
    background-position: -205px 0px;
}

.attachSprite {
    background-position: 5px 0px;
}

.leftHalf {
    width: 100%;
    height: 1000px;
}

.ticketBar {
    background-color: #f4f3f4;
    width: 100%;
    height: 50px;
    border-top: solid 2pt;
    border-top-color: #E1E1E1;
    border-bottom: solid 2pt;
    border-bottom-color: #E1E1E1;
    margin-top: 60px;
    padding-top: 20px;
    padding-left: 70px;
    font-size: 16pt;
    color: #5C5C65;
}

.searchbar {
    width: 50%;
    float: left;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-left: 75px;
    padding-bottom: 20px;
    font-size: 16pt;
    color: #E1E1E1;
}

.tasks ul{
    margin-top: 50px;
    padding-top: 10px;
}

.tasks ul li {
    list-style-type: none;
    font-size: 14pt;
    padding-top: 20px;
    border-bottom: solid 2pt;
    border-bottom-color: #F2C482;
    height: 40px;
}

.tasks ul li:first-child {
    margin-top: 20px;
}

.tasks ul li:hover {
    background-color: #4A8FE2;
    color: #FFFFFF;
}
.tasks {
    background-color: #f4f3f4;
    width: 50%;
}

.time {
    float: right;
    margin-top: -344px;
    padding-right: 10px;
}

#modal {
    width: 50%;
    float: right;
    margin-top: -1050px;
    background-color: #FFFFFF;
}

.topBar {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 16pt;
    color: #5C5C5C;
    border-bottom: solid #4A8FE2;
}

.orderDets ul li {
    list-style-type: none;
    font-size: 14pt;
    padding: 10px;
}

.pic {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
}

.orderDets ul li:nth-child(3) {
    padding-left: 50px;
}

.orderDets ul li:last-child {
    padding-left: 50px;
}

#modal table {
    margin-top: 20px;
    border-top: solid;
    border-top-color: #E1E1E1;
    padding: 20px;
    padding-top: 45px;
    font-size: 14pt;
}

#modal table tr td{
    padding-bottom: 30px;
    padding-top: 20px;
    float: left;
}

.leftCat ul li{
    list-style-type: none;
    color: #ACADB0;
    text-align: right;
    margin: 20px;
}

.leftCat2 ul li {
    list-style-type: none;
    color: #ACADB0;
    text-align: right;
    margin: 20px;
}

.leftCat2 ul li:last-child{
    padding-bottom: 9px;
}

.rightCat ul li {
    list-style-type: none;
    margin: 20px;
}

.rightCat {
    border-bottom: solid #E1E1E1;
    margin-left: 5%;
    margin-top: -1px;
    width: 75%;
}

.rightCat2 ul li {
    list-style-type: none;
    padding-bottom: 10px;
}

.rightCat2 {
    border-bottom: solid #E1E1E1;
    margin-left: 5%;
    margin-top: -1px;
    margin-bottom: 10px;
    width: 75%;
}

.leftCat3 ul li {
    list-style-type: none;
    color: #ACADB0;
    text-align: right;
    margin: 20px;
}

.rightCat3 {
    width: 20%;
    margin-bottom: 20px;
}

.rightStop {
    text-align: right;
    width: 50%;
    margin-top: -50px;
}

.hidden {
    display: none;
}

.rightHalf {
    width: 50%;
    float: right;
    background-color: #FFFFFF;
    margin-top: -1050px;
    height: 1050px;
}

.words p{
    border: solid #E1E1E1;
    border-radius: 10px;
    font-size: 26pt;
    color: #E1E1E1;
    width: 500px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 20%;
}